.main_container{
  height: auto;
  background: #fff;
  padding: 10px ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);



}
.main_container .users_table{
  border: solid crimson 3px;

}

.main_container button{
  margin-right: 5px;
  padding: 5px 20px;
  overflow: hidden;
  outline: none;
  border-width: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #00A388;
  color: #ecf0f1;

}

.main_container caption{
  font-size: 200%;
  letter-spacing: 3px;
  text-align: left;

}

.main_container .buttons{
  float: right;
}

.main_container button:hover,.main_container button:focus {
  background-color: #79BD8F;

}

.main_container .add_user_button  {
    float: right;
}

.main_container table {
  border: none;
  border-collapse: collapse;
  border-spacing: 10px 10px;


}

.main_container thead,tr {

  border-bottom: 1px solid #d0d0d0;
}

.main_container td, .main_container th {
  padding: 15px 15px;
  text-align: left;
  vertical-align: middle;
}

.main_container table tbody tr:hover{
  background-color: #f0f0f0;
}

.main_container .id_column{
  min-width: 30px;
}

.main_container .name_column{
  min-width: 300px;
}
