#colors {
    color: #FF6138;
    color: #ffff9d;
    color: #beeb9f;
    color: #79BD8F;
    color: #00A388;
}

.users_table{
  border: solid crimson 3px;
}

button{
  margin-right: 5px;
  padding: 5px 20px;
  overflow: hidden;
  outline: none;
  border-width: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #00A388;
  color: #ecf0f1;

}

caption{
  font-size: 200%;
  letter-spacing: 3px;
  text-align: left;

}

.buttons{
  float: right;
}

button:hover, button:focus {
  background-color: #79BD8F;

}


table {

  border-collapse: collapse;
  border-spacing: 10px 10px;
  position: absolute;
  top:10%;
  left: 50%;
  transform: translate(-50%);
  /*display: inline-block;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


}

thead,tr {

  border-bottom: 1px solid #d0d0d0;
}

td, th {
  padding: 15px 15px;
  text-align: left;
  vertical-align: middle;
}

table tbody tr:hover{
  background-color: #f0f0f0;
}

.id_column{
  min-width: 30px;
}

.name_column{
  min-width: 300px;
}
