.hide{
	display:none;
}
.main_container{
    background-color: white;
    padding: 3%;

}
.main_container progress {
    background: linear-gradient(to right, #09c, #f44);
    height: 30px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.main_container progress::-webkit-progress-bar {
    background: linear-gradient(to left, #00cc7f, #FFFF9D,  #f44);
    border: 1px solid #bfbfbf;
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/

}
.main_container progress::-webkit-progress-value {
    float: right;
    background: #eaeaea;
}

.main_container h1{
    text-align: center;
}
.main_container .red_circle {
    background: #ff4444;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.main_container .yellow_circle {
    background: #dcda46;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.main_container .green_circle {
    background: #1cdc45;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.circle_column{
    width: 25px;
}

.panda {
    height: 200px;
    width: 200px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    right: 50%;

}
