<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}"/>
</head>
<body>
<div class="card">
  <h1>Resource no longer exists</h1>
  <h1>error 404</h1>
  <p>What you were looking for was deleted.
  <p class="login_form"><a href="{{ url_for('index') }}">Go back to index page</a>
</div>
</body>
<!-- <script src="/static/js/login.js"></script> -->
</html>