<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}"/>
</head>
<body>
<div class="card">
  <h1>Internal Server Error</h1>
  <h1>error 500</h1>
  <p> Server is overloaded try to click link in a few seconds, else contact support at +48 00 000 000
  <p class="login_form"><a href="{{ url_for('index') }}">Go back to index page</a>
</div>
</body>
<!-- <script src="/static/js/login.js"></script> -->
</html>