{% extends "layout.html" %}
{% block content %}
<table>
    <caption>{{ assignment.name }}</caption>
    <thead>
    <tr>
        <th data-field="id" class="id_column">#</th>
        <th data-field="name">Name</th>
        <th data-field="answer">Answer</th>
        <th data-field="grade">Grade</th>
        <th data-field="grade">Grade date</th>
    </tr>
    </thead>

    <tbody>
    <!-- lista studenciaków -->
    {% if assignment.task_type == "Personal" %}
        {% for student in students_list %}
            {% if assignment.get_student_answer(student.user_id) %}
            <tr>
                <td class="id_column">{{ student.user_id }}</td>
                <td>
                  {{ student.name }} {{ student.surname }}
                </td>
                <td>
                  {{ assignment.get_student_answer(student.user_id).answer_text }}
                </td>
                <td>
                  {{ assignment.get_student_answer(student.user_id).grade }}
                </td>
                <td>
                  {{ assignment.get_student_answer(student.user_id).grade_date }}
                </td>
                <td>
                    <form action={{ url_for('grade_answer', answer_id=assignment.get_student_answer(student.user_id).id) }} method="post">
                        Grade:
                        <input type="text" name="grade">
                        <input type="submit" value="SAVE">
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for team in team_list %}
            {% if assignment.get_team_answer(team.team_id) %}
            <tr>
                <td class="id_column">01</td>
                <td>
                  {{ team.team_name }}
                </td>
                <td>
                  {{assignment.get_team_answer(team.team_id).answer_text}}
                </td>
                <td>
                  {{assignment.get_team_answer(team.team_id).grade}}
                </td>
                <td>
                  {{assignment.get_team_answer(team.team_id).grade_date}}
                </td>
                <td>
                    <form action={{ url_for('grade_answer', answer_id=assignment.get_team_answer(team.team_id).id) }} method="post">
                        Grade:
                        <input type="text" name="grade">
                        <input type="submit" value="SAVE">
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}