{% extends "layout.html" %}
{% block content %}
<table>
    <caption>Assignments
    <button type="button" class="buttons" name="add_assignment" onclick="location.href='/add_assigment'">Add assignment</button>
    </caption>
    <thead>
    <tr>
        <th data-field="id" class="id_column">#</th>
        <th data-field="name">Task name</th>
        <th data-field="type">Type</th>
        <th data-field="grade">Grade</th>
    </tr>
    </thead>

    <tbody>
    {% for assigment in assigments %}
    <tr>
        <td class="id_column">{{assigment.id}}</td>
        <td>{{assigment.name}}</td>
        <td>
            {{assigment.task_type}}
        </td>
        <td>
            {% if assigment.task_type == "Personal" %}
              {{assigment.get_student_answer(student_id).grade}}
            {% else %}
              {{assigment.get_team_answer(1).grade}}
            {% endif %}
        </td>
        <td>
            <span class="buttons">
                <button type="button" onclick="location.href='/grade_assigment/{{ assigment.id }}'">Grade</button>
                <button type="button" onclick="location.href='/submit_assigment/{{ assigment.id }}'">Submit</button>
            </span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}