{% extends "layout.html" %}
{% block content %}
<table>
    <caption>{{ assigment.name }}</caption>
    <thead>
    <tr>
        <th data-field="id" class="id_column">#</th>
        <th data-field="name">Name</th>
        <th data-field="description">Answer</th>
    </tr>
    </thead>

    <tbody>
    <!-- lista studenciaków -->
    {% if assigment.task_type == "Personal" %}
        <tr>
            <td class="id_column">01</td>
            <td>
              name
            </td>
            <td>
              {{assigment.get_student_answer(1).answer_text}}
            </td>
            <td>
                <form action="/grade_assigment/{{ assigment.id }}" method="post">
                    Grade:
                    <input type="text" name="grade">
                    <input type="submit" value="SAVE">
                </span>
            </td>
        </tr>
    {% else %}
    <!-- lista team -->
      <tr>
            <td class="id_column">01</td>
            <td>
              team name
            </td>
            <td>
              {{assigment.get_team_answer(1).answer_text}}
            </td>
            <td>
                <form action="/grade_assigment/{{ assigment.id }}" method="post">
                    Grade:
                    <input type="text" name="grade">
                    <input type="submit" value="SAVE">
                </span>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}