{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/users_table.css">
    <link rel="stylesheet" type="text/css" href="../static/attendance.css">
            <div class="attendance_bar">
                {{ data }}
                <h1>Attendance for student of ID {{ student_id }}: {{ attendence_lvl }}%</h1>
                <progress value="{{ 100 - attendence_lvl }}" max="100"></progress>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr>

                    <td class="circle_column">
                    {% if row.attendance_value == 'Spozniony' %}
                        <div class="yellow_circle"></div>
                    {% elif row.attendance_value == 'Obecny' %}
                        <div class="green_circle"></div>
                    {% else %}
                        <div class="red_circle"></div>
                    {% endif %}
                    </td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.attendance_value }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}