{% extends "layout.html" %}
{% block modal %}
<!-- The Modal -->
<div id="details_Modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="main_container" id="details">
          {% if url == 'student_list' %}
          <a href="{{ url_for('student_list') }} "><span class="close_details">&times;</span></a>
          <h1>Student's details</h1>
          <table>
          <caption>
              {{ person.name +' '+ person.surname}}
          <span class="buttons">
              <button type="button" onclick="confirmAlert()"><a href="{{ url_for('remove_student', user_id=person.user_id) }}">Remove Student</a></button>
          {% endif %}
          </span>
          </caption>
          <tr>
              <td>Email:</td>
              <td>{{ person.email }}</td>
          </tr>
          <tr>
              <td>Adress:</td>
              <td>{{ person.city }}</td>
          </tr>
          <tr>
              <td>Phone number:</td>
              <td> {{ person.phone }}</td>
          </tr>

          </table>
         </div>
    </div>
</div>
{% endblock %}