{% extends "layout.html" %}
{% block modal %}
<div id="edit_Modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <form class="newStudent" METHOD="POST">
        <a href="{{ url_for('mentor_list') }} "><span class="close_edit">&times;</span></a>
        <h1>Edit mentor</h1>

        {% if person.login == None %}
        <input type="text" id="input-login_edit" name="login" placeholder="Enter login " onchange="validateContactData(this)">
        {% else %}
        <input type="text" id="input-login_edit" name="login" placeholder="Enter login " onchange="validateContactData(this)"
               value="{{ person.login }}">
        {% endif %}

        {% if person.email == None %}
        <input type="email" id="input-email_edit" name="email" placeholder="Type email " onchange="validateContactData(this)">
        {% else %}
        <input type="email" id="input-email_edit" name="email" placeholder="Type email " onchange="validateContactData(this)"
               value="{{ person.email }}">
        {% endif %}

        {% if person.name == None %}
        <input type="text" id="input-firstName_edit" name="name" placeholder="Enter name " onchange="validateContactData(this)">
        {% else %}
        <input type="text" id="input-firstName_edit" name="name" placeholder="Enter name " onchange="validateContactData(this)"
               value="{{ person.name }}">
        {% endif %}

        {% if person.surname == None %}
        <input type="text" id="input-surname_edit" name="surname" placeholder="Enter your surname " onchange="validateContactData(this)">
        {% else %}
        <input type="text" id="input-surname_edit" name="surname" placeholder="Enter your surname " onchange="validateContactData(this)"
               value="{{ person.surname }}">
        {% endif %}

        <input type="submit" value="SAVE" id="input-save_edit">

      </form>
  </div>
</div>
{% endblock %}