{% extends "student_list.html" %}
{% block edit %}
<div id="edit_Modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <form class="newStudent">
        <span class="close_edit"><a href="{{ url_for('student_list') }} ">&times;</a></span>
        <h1>Edit student</h1>
        <input type="text" id="input-login_edit" placeholder="Enter login " onchange="validateContactData(this)"
               {% if person.login %}
               value="{{ person.login }}"
               {% endif %}
        >
        <input type="email" id="input-email_edit" placeholder="Type email " onchange="validateContactData(this)"
               {% if person.name !="None" %}
               value="{{ person.email }}"
               {% endif %}
        >
        <input type="text" id="input-firstName_edit" placeholder="Enter name " onchange="validateContactData(this)" value="{{ person.name }}">
        <input type="text" id="input-surname_edit" placeholder="Enter your surname " onchange="validateContactData(this)" value="{{ person.surname }}">
        <input type="submit" value="SAVE" id="input-save_edit" onclick="sendMessage()">
      </form>
  </div>
</div>
{% endblock %}