<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Codecool CCMS by STEFAN team">
    <title>Codecool CCMS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='users_table.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
</head>
<body>
    <div class="container">
            <div class="left_menu">
                <section class="logged_user">
                    <p>You're logged in as:</p>
                    <div class="user_info_container">
                        <div class="user_image">
                            <img src="../static/img/user.png" alt="User Photo" width="55" height="55">
                        </div>
                        <div class="user_name">
                            <h3>{{ user['name'] }}</h3>
                        </div>
                        <div class="logout_button">
                            <a id="link_logout" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </div>
                </section>
                <nav id="main-nav">

                    {% if user['type'] == 'Student' %}
                        <ul>
                            <header class="nav">
                                <p>Student</p>
                            </header>
                        </ul>
                        <ul>
                            <li><a href={{ url_for('attendance', student_id=user['id']) }}>Attendance</a></li>
                            <li><a href="assignment_list.html">Assignment list</a></li>
                        </ul>
                    {% elif user['type'] == 'Mentor' %}
                        <ul>
                            <header class="nav">
                                <p>Mentor</p>
                            </header>
                        </ul>
                        <ul>
                            <li><a href={{ url_for('check_attendance') }}>Check attendance</a></li>
                            <li><a href={{ url_for('check_everyone_attendance') }}>Check everyone attendance</a></li>
                            <li><a href="attendance_by_data">Check attendance by data</a></li>
                            <li><a href="student_list.html">Students list</a></li>
                            <li><a href="teams.html">Teams</a></li>
                            <li><a href="assignment_list.html">Assignment list</a></li>
                        </ul>
                    {% elif user['type'] == 'Manager' %}
                        <ul>
                            <header class="nav">
                                <p>Manager</p>
                            </header>
                        </ul>
                        <ul>
                            <li><a href="mentor_list.html">Mentor list</a></li>
                        </ul>
                    {% elif user['type'] == 'Employee' %}
                        <ul>
                            <header class="nav">
                                <p>Employee</p>
                            </header>
                        </ul>
                        <ul>
                            <li><a href="student_list.html">Students list</a></li>
                        </ul>
                    {% endif %}

                </nav>
            </div>
            <div class="right_content">
                {% block modal %}
                <section class="main_container">
                    {% block content %}{% endblock %}
                </section>
                {% endblock %}
        </div>
    </div>
</body>
</html>