<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link rel="stylesheet" type="text/css" href="static/login.css"/>
</head>
<body>
<div class="card">
    <form action="/login" method="post">
        <label>Login to your account:</label>
        <input name="email" type="email" placeholder="Give your email" tabindex="1" required autofocus/>
        <input type="password" name="password" placeholder="Give your password"/>
        <input type="submit" value="LOGIN">
    </form>
</div>
</body>
<!-- <script src="/static/js/login.js"></script> -->
</html>