<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Codecool CCMS by STEFAN team">
    <title>Codecool CCMS</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/users_table.css">
    <link rel="stylesheet" type="text/css" href="../static/forms.css">
    <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="left_menu">
        <section class="logged_user">
            <p>You're logged in as:</p>
            <div class="user_info_container">
                <div class="user_image">
                    <img src="../static/img/user.png" alt="User Photo" width="55" height="55">
                </div>
                <div class="user_name">
                    <h3>Przemek</h3>
                </div>
                <div class="logout_button">
                    <a id="link_logout" href="login.html">Logout</a>
                </div>
            </div>
        </section>
        <nav>
            <header class="nav">
                <p>Classes</p>
            </header>
            <ul>
                <li><a href="../classes_html/attendance.html">Attendance</a></li>
                <li><a href="../classes_html/check_attendance.html">Check attendance</a></li>
                <li><a href="checkpoint.html">Checkpoint</a></li>
            </ul>
            <header class="nav">
                <p>Student</p>
            </header>
            <ul>
                <li><a href="../student_html/student_list.html">Students list</a></li>
                <li><a href="../student_html/teams.html">Teams</a></li>
            </ul>
            <header class="nav">
                <p>Assignment</p>
            </header>
            <ul>
                <li><a href="../assignment_html/assignment_list.html">Assignment list</a></li>
            </ul>
            <header class="nav">
                <p>Mentor</p>
            </header>
            <ul>
                <li><a href="../mentor_html/mentor_list.html">Mentor list</a></li>
            </ul>

        </nav>
    </div>
    <div class="right_content">
        <section class="main_container">
            <table>
                <caption>Mentors list
                    <button type="button" class="buttons" name="add_mentor" onclick="buttonclick(this.name)">Add mentor</button>
                </caption>

                <thead>
                    <tr>
                        <th data-field="id" class="id_column">#</th>
                        <th data-field="name">Name</th>
                        <th data-field="email">Email</th>
                    </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="id_column">01</td>
                    <td>Alvin</td>
                    <td>das@po.pl</td>
                    <td>
            <span class="buttons">
                <button type="button" name="details" onclick="buttonclick(this.name)">Details</button>
                <button type="button" name="edit" onclick="buttonclick(this.name)">Edit</button>
            </span>
                    </td>

                </tr>
                <tr>
                    <td class="id_column">02</td>
                    <td>Alan</td>
                    <td>dasfcffffffffffffffffffffffffffff@po.pl</td>
                    <td>
            <span class="buttons">
                <button type="button" name="details" onclick="buttonclick(this.name)">Details</button>
                <button type="button" name="edit" onclick="buttonclick(this.name)">Edit</button>
            </span>

                    </td>

                </tr>
                <tr>
                    <td class="id_column">03</td>
                    <td>Jonathan</td>
                    <td>das@po.pl</td>
                    <td>
                        <span class="buttons">
                            <button type="button" name="details" onclick="buttonclick(this.name)">Details</button>
                            <button type="button" name="edit" onclick="buttonclick(this.name)">Edit</button>
                        </span>
                    </td>

                </tr>
                </tbody>
            </table>

            <!-- The Modal -->
            <div id="add_mentor_Modal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                  <form class="newStudent">
                    <span class="close_add_mentor">&times;</span>
                    <h1>New mentor</h1>
                    <input type="text" id="input-login_add_mentor" placeholder="Enter login " onchange="validateContactData(this)">
                    <input type="email" id="input-email_add_mentor" placeholder="Type email " onchange="validateContactData(this)">
                    <input type="text" id="input-firstName_add_mentor" placeholder="Enter name " onchange="validateContactData(this)">
                    <input type="text" id="input-surname_add_mentor" placeholder="Enter your surname " onchange="validateContactData(this)">
                    <input type="submit" value="SAVE" id="input-save_add_mentor" onclick="sendMessage()">

                  </form>
              </div>
            </div>

            <div id="details_Modal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                  <div class="main_container" id="details">
                    <span class="close_details">&times;</span>
                    <h1>Mentor's details</h1>
                    <table>
                    <caption>
                        Jon Doe
                    <span class="buttons">
                        <button type="button" onclick="confirmAlert()"> Remove mentor </button>
                    </span>
                    </caption>
                    <tr>
                        <td>Email:</td>
                        <td>Jon@doe.com</td>
                    </tr>
                    <tr>
                        <td>Adress:</td>
                        <td>Somewhere Str 21/12 Kraków</td>
                    </tr>
                    <tr>
                        <td>Phone number:</td>
                        <td>48-123-456-789  </td>
                    </tr>

                    </table>
                   </div>
              </div>
            </div>

            <div id="edit_Modal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                  <form class="newStudent">
                    <span class="close_edit">&times;</span>
                    <h1>Edit mentor</h1>
                    <input type="text" id="input-login_edit" placeholder="Enter login " onchange="validateContactData(this)" value="mar.izw">
                    <input type="email" id="input-email_edit" placeholder="Type email " onchange="validateContactData(this)" value="marcin.izworski@codecool.com">
                    <input type="text" id="input-firstName_edit" placeholder="Enter name " onchange="validateContactData(this)" value="Marcin">
                    <input type="text" id="input-surname_edit" placeholder="Enter your surname " onchange="validateContactData(this)" value="Izworski">
                    <input type="submit" value="SAVE" id="input-save_edit" onclick="sendMessage()">
                  </form>
              </div>
            </div>

        </section>
    </div>
</div>
<script src="../static/js/forms.js"></script>
<script src="../static/js/confirm_alert.js"></script>
</body>
</html>