{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/users_table.css">

            <table>
                <caption>Students list
                    <button type="button" class="buttons">Submit</button>
                </caption>
                <thead>
                <tr>
                    <th data-field="id" class="id_column">#</th>
                    <th data-field="name">Name</th>
                    <th data-field="email">Email</th>
                    <th data-field="phone_number">Phone</th>

                </tr>
                </thead>

                <tbody>

                {% for person in students %}
                <tr>
                    <td class="id_column">{{ person.user_id }}</td>
                    <td>{{ person.name }} {{person.surname}}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.phone }}</td>
                    <td>
                        <span class="buttons">
                            <button type="button" name="details" onclick="buttonclick(this.name)">Details</button>
                            <button type="button" name="edit" onclick="buttonclick(this.name)">Edit</button>
                            <button type="button" name="add_to_team" onclick="buttonclick(this.name)">Add to team</button>
                        </span>
                    </td>

                {% endfor %}

                </tbody>

            </table>
{% endblock %}